name: Test Project
on: push
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - run: echo "Push detected!"
      - name: Get code
        uses: actions/checkout@v3 
      - name: Install nodejs
        uses: actions/setup-node@v3
        with: 
          node-version: 18
      - name: Install all dependencies 
        run: npm ci
      - name: Run tests
        run: npm test            
  deploy: 
    needs: test # like deponds on
    runs-on: ubuntu-latest
    steps:
      - run: echo "Push detected!"
      - name: Get code
        uses: actions/checkout@v3 
      - name: Install nodejs
        uses: actions/setup-node@v3
        with: 
          node-version: 18
      - name: Install all dependencies 
        run: npm ci
      - name: Build Project 
        run: npm run build
      - name: Deploy 
        run: echo "Deploying ..."